.gif-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px; /* Espacio entre imágenes */  
  width: 100%;
}

.gif-container .Gif {
  width: 100%; /* Para que las imágenes ocupen el 100% del contenedor */
}
