.gif-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Espacio entre imágenes */  
}

.gif-container .Gif {
  width: 100%; /* Para que las imágenes ocupen el 100% del contenedor */
}
