.App {
  text-align: center
}
.App-content {
  background-color: #95ddfa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-size: calc(10px + 2vmin);
  padding: 16px;
  color: white;
}

img{
  height: 120px;
  width: auto;
}

button{
  cursor: pointer;
 
}
a{
  color: white;
  text-decoration: none;
}
.logo{
  margin: 20px;
}
.logo-container{
  background-color: #95ddfa;
 padding-top: 30px;
}